version: '3.8'
services:
  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_USER: myusername
      POSTGRES_DB: mydatabase
    ports:
      - "5431:5432"